<nav class="nav">
    <p routerLink="/">Read Freak</p>

    <div class="nav-search">
        <input type="text" placeholder="Search for Book" />
        <button class="button">Search
        </button>
    </div>

    
    <div class="menu-toggle" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul>
        <li><a routerLink="/user_name">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/books">Book</a></li>
        <li><a routerLink="/contactus">Contact Us</a></li>
        <li><a routerLink="/login">login</a></li>
    </ul>
</nav>


<!-- <app-guest></app-guest> -->