<nav class="nav">
    <div class="heading">
    <p routerLink="/">Read Freak</p>
    </div>
    <div *ngIf="menuType!=='user_signup'" class="nav-search">
        <!-- <div class="nav-search"> -->
        <input #searchInput type="text" (keyup)="search($event)"
            placeholder="Search for Book" (blur)="hidesearch()" />
        <button (click)="submitSearch(searchInput.value)" class="button">Search</button>
                    
        <ul class="suggested_result" *ngIf="searchbook">
            <li *ngFor="let item of searchbook">
                <a routerLink="/opendetails/{{item.id}}">{{item.Bookname}}</a>
            </li>
        </ul>
    </div>

    <div class="menu-toggle" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <div class="navbar" [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'" class="main-nav">
            <li><a routerLink="/user_name">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/books">Book</a></li>
            <li><a routerLink="/wishlist">wishlist ({{cart}})</a></li>
            <li><a routerLink="/login">login</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
        <ul *ngSwitchCase="'user_signup'"  class="main-nav">
            <li><a routerLink="/user_name">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/books">Book</a></li>
            <li><a routerLink="/wishlist">wish list({{cart}})</a></li>
            <li><a>{{userName | titlecase}}</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
        <ul *ngSwitchCase="'admin_signup'"  class="main-nav">
            <li><a routerLink="/book-add">add-book</a></li>
            <li><a routerLink="/retrive-book">retrive-book </a></li>
            <li><a routerLink="/users">users</a></li>
            <li><a>{{adminName | titlecase}}</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </div>

</nav>

<!-- <app-guest></app-guest> -->
<!-- <li><a routerLink="/contactus">Contact Us</a></li> -- -->