.nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
}

.nav p{
    color: #007bff;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 1;
    padding: 0;
    
}

.nav li{
    padding-left: 15px;
    padding-right: 15px;
}

.nav li a{
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

.nav .nav-search{
    margin-top: 5px;
    flex: 1;    
    display: flex;
        margin-left:5%;
        margin-right: 5%;
}

.nav .nav-search input{
    flex: 1;
    color: #007bff;
    border: 1px solid #007bff;
    height: 35px;
    border-right: 0px;
}

.nav .nav-search button{
    color: #007bff;
    border: 1px solid #007bff;
    height: 39px;
    border-left: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;

}

.menu-toggle {
    display: none; /* Initially hide the hamburger menu */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}
.button{
    text-align: center;
}
@media screen and (max-width: 768px) {
    .nav p{
        color: #007bff;
        margin: 0;
    }
    .nav {
        flex-direction: column;
    }

    .menu-toggle {
        display: none;
    }

    ul {
        display: none; /* Hide the navigation links by default on smaller screens */
        flex-direction: row;
        position: absolute;
        top: 100px; /* Adjust as needed based on your header height */
        /* left: 0; */
        /* background-color: #f9f9f9; */
        width: 100%;
    }

    ul.show {
        display: flex;
    }
}

app-header {
    position: sticky;
    top: 0;
}
.suggested_result{
position: absolute;
display: list-item !important;
z-index: 10;
background-color: #fff;
width: 300px;
top: 27px;
border: 1px solid #ddd;
height: 50px;
}
.nav-search{
    margin-left: 200px;
}





@media screen and (max-width: 480px){
    .heading{
        text-align: center;
        margin-left: 30px;
    }
    .navbar{
        margin-bottom: 30px;
        
    }
    .nav-search{
        padding-left: 10px;
        width: 100%;
    }

}
/* @media screen and (max-width: 768px) {
.navbar{
    margin-bottom: 30px;
    text-align: center;
}
.heading{
    text-align: center;
    margin-left: 320px;
}
.nav-search{
    margin-left:360px ;
    width: 50%;
}
.main-nav{
    align-items: center;
    text-align: center;
    left: 350px;
}
} */