<nav class="nav">
    <p routerLink="/">Book Reviewer</p>
    <div class="nav-search">
        <input type="text" placeholder="Search for Book" />
        <button>Search</button>
    </div>
    <div class="menu-toggle" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/books">Book</a></li>
        <li><a routerLink="/contactus">Contact Us</a></li>
        <li><a routerLink="/login">login</a></li>
    </ul>
</nav>


<app-guest></app-guest>