<app-header> </app-header>
<!-- Add this section to display the table with Activate/Deactivate buttons -->
<div class="user-list-table">
  <table>
    <thead>
      <tr>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>location</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr>

        <td>UserName</td>
        <td>Fname</td>
        <td>Lname</td>
        <td>email</td>
        <td>PhoneNumber</td>
        <td>location</td>
        <td>Password</td>
        <td>
            <button>Activate</button>
            <button>Deactivate</button>
          <a routerLink="/updateuser">update-user</a>   

        </td>
      </tr>
    </tbody>
  </table>
</div>
