<app-header></app-header>

<body>
<p style="text-align: center; font-weight: bold; bottom: 0;">{{bookremovemessage}}</p>
<div class="card-container" *ngIf="bookaddList">
        <!-- Card 1 -->
        <div class="card" *ngFor="let item of bookaddList">
            <h2>{{item.Bookname}}</h2>
            <p>{{item.BookAuthor}}</p>
            <p>Rating</p>
            <br>
            <button (click)="removebook(item.id)">Remove</button>
            <button style="margin: 10px;"><a style="text-decoration: none;" routerLink="/opendetails/{{item.id}}">More Details</a></button>


        </div>
    </div>

</body>
