<app-header> </app-header>

<div class="bookadd-container">
    <h2>Add Book</h2>
    <p style="text-align: center;font-size: 30px; top: 0%;bottom: 0%;">{{addbookmessage}}</p>
    <!-- <form (submit)="submitForm()"> -->
    <form #Bookaddform="ngForm" (ngSubmit)="Bookadd(Bookaddform.value)">
        <div class="form-group">
            <label for="Bookname">Book Name:</label>
            <input type="text" id="Bookname" name="Bookname" ngModel>

        </div>

        <div class="form-group">
            <label for="BookAuthor">Author Name:</label>
            <input type="text" id="BookAuthor" name="BookAuthor" ngModel>

        </div>

        <div class="form-group">
            <label for="Dateofpublishing">Dateofpublishing:</label>
            <input type="datetime-local" id="Dateofpublishing" name="Dateofpublishing" ngModel>

        </div>

        <div class="form-group">
            <label for="Rating">Rating</label>
            <input type="number" id="Rating" name="Rating" ngModel>

        </div>
        <!-- <div class="form-group">
            <label for="Rating">Rating</label>
            <input type="number" id="number" name="number" [(ngModel)]="userData.rating" (input)="validateRating()">
            <div *ngIf="ratingError" class="error-message">Invalid rating. Please enter a number between 1 and 5.</div>
        </div> -->

        <div class="form-group">
            <label for="Review">Review:</label>
            <input type="text" id="Review" name="Review" ngModel>

        </div>

        <div class="form-group">
            <label for="pic">Picture:</label>
            <input type="file" id="picture" name="picture" accept="image/*" ngModel>
        </div>

        <button type="submit">Submit</button>
        <a routerLink="/retrive-book">Book View</a>

    </form>
    
</div>
