<!-- <app-header></app-header> -->

<div class="bookadd-container">
    <h2>Add Book Recomendated</h2>
    <p style="text-align: center;font-size: 30px; top: 0%;bottom: 0%;">{{addbookrecomendation}}</p>
    <!-- <form (submit)="submitForm()"> -->
    <!-- <form #Bookaddform="ngForm" (ngSubmit)="Bookadd(Bookaddform.value)"> -->
        <form #Bookaddrecomendform="ngForm" (ngSubmit)="addrecomendation(Bookaddrecomendform.value)">
        <div class="form-group">
            <label for="Bookname">Book Name:</label>
            <input type="text" id="Bookname" name="Bookname" ngModel>

        </div>

        <div class="form-group">
            <label for="BookAuthor">Author Name:</label>
            <input type="text" id="BookAuthor" name="BookAuthor" ngModel>

        </div>

        <div class="form-group">
            <label for="Dateofpublishing">Dateofpublishing:</label>
            <input type="datetime-local" id="Dateofpublishing" name="Dateofpublishing" ngModel>

        </div>

        <div class="form-group">
            <label for="Rating">Rating</label>
            <input type="number" id="Rating" name="Rating" ngModel>

        </div>


        <button type="submit">Submit</button>
        <a routerLink="/retrive-book">Book View</a>

    </form>
</div>
