<app-header></app-header>
<div class="guest">
<div class="user_name">
    <h1>Welcome Guest</h1>
</div>

<div class="container">
    <div class="book-new">
        <div class="book-list">
            <h3>Books Topics</h3>
            <ul>
                <li>
                    <p>book Name</p>
                    <p>book author</p>
                    <p>published date</p>
                    <p>Rating</p>
                    <p>Preview</p>
                </li>
                <li>
                    <p>book Name</p>
                    <p>book author</p>
                    <p>published date</p>
                    <p>Rating</p>
                    <p>Preview</p>
                </li>
                <li>
                    <p>book Name</p>
                    <p>book author</p>
                    <p>published date</p>
                    <p>Rating</p>
                    <p>Preview</p>
                </li>
            </ul>
            <div class="more-books">
                <a routerLink="books">Add more-books</a>
            </div>
        </div>
    </div>

    <div class="book-reviews-container" *ngIf="trending_book">

        <div class="book-review"*ngFor="let item of trending_book">
            <h2>Trending Book</h2>

            <div class="book-info" >
                <img src="{{item.picture}}" alt="Book Cover"
                    class="book-cover">
                <div class="book-details">
                    <h3>{{item.Bookname}}</h3>
                    <p>{{item.BookAuthor}}</p>
                    <p>{{item.Review}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="book-status">
        <div class="book-info2">
            <h3>Newly Added</h3>

            <ul>
                <li>
                    <p>I'm currently reading this book.</p>
                    <p>when added</p>
                    <p>no.of pages readed</p>
                    <p>Left no. of pages</p>
                    <p>Target to complete</p>
                    <p>See where left</p>
                    <p>set time to read</p>
                </li>
                <li>
                    <p>I'm currently reading this book.</p>
                    <p>when added</p>
                    <p>no.of pages readed</p>
                    <p>Left no. of pages</p>
                    <p>Target to complete</p>
                    <p>See where left</p>
                    <p>set time to read</p>
                </li>
                <li>
                    <p>I'm currently reading this book.</p>
                    <p>when added</p>
                    <p>no.of pages readed</p>
                    <p>Left no. of pages</p>
                    <p>Target to complete</p>
                    <p>See where left</p>
                    <p>set time to read</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>