<app-header> </app-header>
<div class="admin">
    <div class="link">
        <ul >
            <li><a routerLink="/book-add">add-book</a></li>
            <li><a routerLink="/retrive-book">retrive-book </a></li>
            <li><a routerLink="/users">users</a></li>
        </ul>
    </div>
    <div class="dashboard">
        <br>
        <h1>Dashboard</h1>
        

        <div class="container">
            <div class="card">
                <h2>User Overview</h2>
                <p>Total Users: 1000</p>
                <p>New Registrations: 50 (Last 7 days)</p>
                <p>User Demographics: <br> Age: 25-35, Location: Various</p>
                <p>User Engagement: <br> Daily logins: 200, Avg. Session
                    Duration: 15 mins</p>
            </div>

            <div class="card">
                <h2>Book Overview</h2>
                <p>Total Books: 500</p>
                <p>New Books: 20 (Last 7 days)</p>
                <p>Genre Distribution: <br> Fiction: 40%, Non-Fiction: 30%,
                    Mystery: 20%, Sci-Fi: 10%</p>
                <p>Avg. Book Rating: 4.2</p>
            </div>


        </div>

    </div>


</div>