<!-- <app-header> </app-header> -->
<div class="userupdate-container">
    <h2>Update User</h2>
    <p style="color: green; text-align: center; font-size: 20px;font-weight: bold;">{{userUpdatedMessage}}</p>

    <!-- <form (submit)="submitForm()"> -->
    <form #userupdateform="ngForm" (ngSubmit)="userUpdate(userupdateform.value)">
        <div class="form-group">
            <label for="username">UserName</label>
            <input type="text" id="username" name="username"  ngModel="{{userdata?.username}}">

        </div>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" ngModel="{{userdata?.firstName}}">

        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" ngModel="{{userdata?.lastName}}">

        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" ngModel="{{userdata?.email}}">

        </div>

        <div class="form-group">
            <label for="phoneNumber">PhoneNumber</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" ngModel="{{userdata?.phoneNumber}}">

        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" ngModel="{{userdata?.password}}">
        </div>

        <button type="submit">Submit</button>
        <a href="/users">User View</a>

    </form>
</div>
