<app-header></app-header>
<div class="book-reviews-container" >

        <div class="book-info" >
            <p>{{addbookreviewmessage}}</p>
            <img src="{{bookdata?.picture}}" alt="Book Cover"
                class="book-cover">
            <div class="book-details">
                <h3>{{bookdata?.Bookname}}</h3>
                <p>{{bookdata?.BookAuthor}}</p>
                <p>{{bookdata?.Review}}</p>


                <div *ngIf="toggleService.display">
                <form #BookReviewaddform="ngForm" (ngSubmit)="BookReviewadd(BookReviewaddform.value)">
                <label style="font-size: 24px;" for="Review">Review:</label>
                <input style="height: 35px; margin-left: 5px;" type="text" id="Review" name="Review" ngModel>
                <a type="submit" >Submit</a>
            </form>
            </div>

            
            </div>
        </div>
</div>
