<!-- <app-header></app-header> -->
<div class="book-reviews-container">
    <p style="color: green; align-items: center;">{{addbookreviewmessage}}</p>
    <p style="color: red; align-items: center;">{{ signInMessage }}</p>
    <div class="book-info">

        <img src="{{bookdata?.picture}}" alt="Book Cover"
            class="book-cover">
        <div class="book-details">
            <h3>{{bookdata?.Bookname}}</h3>
            <p>{{bookdata?.BookAuthor}}</p>
            <!-- <p>{{bookdata?.Review}}</p> -->

            <!-- <app-book-retrive (toggleFormEvent)="toggleForm($event)"></app-book-retrive> -->
            <br>
            <div *ngIf="displayForm">
                <form #BookReviewaddform="ngForm"
                    (ngSubmit)="addReview(BookReviewaddform.value)">
                    <label style="font-size: 24px;" for="Review">Review:</label>
                    <input style="height: 35px; margin-left: 3px;" type="text"
                        id="Review" name="Review" ngModel>
                    <!-- <button type="submit" (click)="refreshPage()">Submit</button> -->
                    <!-- Button is disabled if isUserSignedIn is false -->
                    <button type="submit" (click)="refreshPage()" [disabled]="!isUserSignedIn">Submit</button>

                </form>
            </div>

        </div>
        <br>
    </div>
    <div class="book-list-table">
        <table>
            <thead>
                <tr>
                    <th>Review</th>
                    <th>Username</th>
                    <th>book</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let review  of reviews">
                    <td>{{review.Review}}</td>
                    <td>{{review.user_name}}</td>
                    <td>{{review.book_id}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
